body {
    font-family: 'Roboto';
    font-size: 22px;
}

.startfont {
    font-size: 12px;
}

.center {
    text-align: center;
}

.card_content {
    padding: 20px;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

.img_size {
    width: 180px;
    height: 150px;
}

.panel {
    border: 0px;
}

.panel-body {
    padding: 10px 15px;
}

label {
    display: block;
}
.custom_lable {
    color: #A2A2A2;
    font-size: 11px;
}

.price-number {
    font-size: 17px;
    color: #2185ef;
}


#content {
    margin-bottom: 120px;
    margin-top: 30px;
}

#filter-link {
    position: absolute;
    margin: 20px 30px;
    right: 0;
    color: #2185ef;
    font-size: 12px;
}


/*Handle the Mobile View*/
@media only screen and (max-width: 425px) {
    #filter-link {
        position: static;
        margin: 0px;
        color: gray;
        font-size: 20px;
        font-weight: 100;
    }
    .panel-title {
        text-align: center;
    }
    p.location {
    font-size: 18px;
    color: #946460;
    margin-bottom: 0px;
    font-weight: 300;
  }
  p.lead{
    font-size:20px;
    color: #634e42; 
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
  }
  p.price{
   color: #A2A2A2;
   font-size: 14px;
   font-weight: 100;
  }
  bdi.price-number {
    font-size: 20px;
    color: #2185ef;
    font-weight: 100;
  }
  #title-filter
  {
    position: relative;
    right: 155px;
  }
  div.studio-card-tablet
  {
     height: 460px;
  }
     
 #close-btn
 {
  position: relative;
    bottom: 42px;
    right: 12px;
 }
}
/*End of Mobile Media Query*/


.btn {
    border-radius: 0;
    font-size: 10px;
}

.btn-group>.btn.active {
    background-color: #4787be;
    color: white;
}


.special-banner {
    position: absolute;
    right: 2px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(32deg);
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    font-size: 14px;
    text-align: center;
    background-color: #fffbfb;
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 2px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    display: block;
    margin-bottom: .75rem;
    margin-top: 10px;
    border-radius: .125rem;
    font-weight: 400;
    box-sizing: border-box;
    font-family: 'Kurale', sans-serif;
    border-left-style: solid;
    border-left-width: 15px;
    border-left-color: cornsilk;
    border-right-style: solid;
    border-right-width: 15px;
    border-right-color: cornsilk;
}   

.btn-group>.btn {
    color: #757779;
}

#title-filter {
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 25px;
}

.reset-link-before-change{
    position: absolute;
    margin: 20px 30px;
    right: 100px;
    color: #2185ef;
    font-size: 10px;
}

.reset-link-after-change{
    position: absolute;
    margin: 20px 30px;
    right: 10px;
    top: 0px;
    color: #2185ef;
    font-size: 10px;
}
/*fix the color because its inherit the original color */
.panel-title>a{
    color: #2185ef;
}

.lead{
  font-size:18px;
  margin-bottom: 5px;
  margin-right: 12px;
}

.location{
    font-size: 13px;
    color: #828989;
    margin-bottom: 0px;
    font-weight: 300;
}
.pipe {
    color: #A2A2A2;
    margin-left: 6px;
    margin-right: 6px;
}
.price{
   color: #A2A2A2;
   font-size: 11px;
}

.custom-lable-checkbox{
    color: #A2A2A2;
    font-size: 10px;
}

/*Handle the Tablet View*/
@media only screen and (max-width: 768px) {
    #filter-link {
        position: static;
        margin: 0px;
        color: gray;
        font-size: 20px;
        font-weight: 100;
    }
    .panel-title {
        text-align: center;
    }
    p.location {
    font-size: 12px;
    color: #946460;
    margin-bottom: 0px;
    font-weight: 300;
  }
  p.lead{
    font-size:15px;
    color: #634e42; 
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
  }
  p.price{
   color: #A2A2A2;
   font-size: 12px;
   font-weight: 100;
  }
  bdi.price-number {
    font-size: 15px;
    color: #2185ef;
    font-weight: 100;
  }
  .btn-group{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 200px;
}
  .ipad-filter-div-shift{
      position: relative;
      left: 25px;
  }
  .studio-card-tablet{
    height: 352px;
  }
  .studio-caption-tablet{
     margin-top: 22px;
  }
 
}


