/*Home Page CSS Style Costume Classes*/


body {
    font-family: 'Roboto';
    font-size: 22px;
}
.center {
    text-align: center;
}
.details-btn
{
  background-color: #efefef;
}
.card_content {
    padding: 20px;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
.img_size {
    width: 180px;
    height: 150px;
}
.panel {
    border: 0px;
}
.panel-body {
    padding: 10px 15px;
}
label {
    display: block;
}
.custom_lable {
    color: #A2A2A2;
    font-size: 11px;
}
.price-number {
    font-size: 17px;
    color: #2185ef;
}
#content {
    margin-bottom: 120px;
    margin-top: 30px;
}
#filter-link {
    position: absolute;
    margin: 20px 30px;
    right: 0;
    color: #2185ef;
    font-size: 12px;
}
.btn {
    border-radius: 0;
    font-size: 12px;
}
.btn-group>.btn.active {
    background-color: #4787be;
    color: white;
}
/*Change special-banner class*/
.special-banner {
    position: absolute;
    right: 2px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(32deg);
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    font-size: 14px;
    text-align: center;
    background-color: #fffbfb;
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 2px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    display: block;
    margin-bottom: .75rem;
    margin-top: 10px;
    border-radius: .125rem;
    font-weight: 400;
    box-sizing: border-box;
    font-family: 'Kurale', sans-serif;
    border-left-style: solid;
    border-left-width: 15px;
    border-left-color: cornsilk;
    border-right-style: solid;
    border-right-width: 15px;
    border-right-color: cornsilk;
}
/*Change btn-group font color */
.btn-group>.btn {
    color: #757779;
}
#title-filter {
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 25px;
}
.reset-link-before-change {
    position: absolute;
    margin: 20px 30px;
    right: 100px;
    color: #2185ef;
    font-size: 10px;
}
.reset-link-after-change {
    position: absolute;
    margin: 20px 30px;
    right: 10px;
    top: 0px;
    color: #2185ef;
    font-size: 10px;
}
/*Fix the color because its inherit the original color */

.panel-title>a {
    color: #2185ef;
}
.lead {
    font-size: 18px;
    margin-bottom: 5px;
    margin-right: 12px;
}
.location {
    font-size: 13px;
    color: #828989;
    margin-bottom: 0px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}
.pipe {
    color: #A2A2A2;
    margin-left: 6px;
    margin-right: 6px;
}
.price {
    color: #A2A2A2;
    font-size: 11px;
}
.custom-lable-checkbox {
    color: #A2A2A2;
    font-size: 10px;
}
.btn.btn-primary.black {
    color: #020202;
    border-color: #ccc;
}

.btn.btn-secondary{
  background-color: #efefef;
  text-transform: capitalize;
}
#amount{
      position: relative;
      left: 9px;
    }
#amount2{
  position: relative;
  top: 1px;
  left: 32px;
}
#amount-span{
  position: relative;
  top: 11px;
}
#amount2-span{
  position: relative;
  top: 12px;
  left: 23px;

}

.img-width{
    width:100%
}

/*Handle the Tablet View*/

@media only screen and (max-width: 770px) {
    #filter-link {
        position: static;
        margin: 0px;
        color: gray;
        font-size: 20px;
        font-weight: 100;
    }
    .panel-title {
        text-align: center;
    }
    p.location {
        font-size: 12px;
        color: #946460;
        margin-bottom: 0px;
        font-weight: 300;
    }
    p.lead {
        font-size: 15px;
        color: #634e42;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
    }
    p.price {
        color: #A2A2A2;
        font-size: 12px;
        font-weight: 100;
    }
    bdi.price-number {
        font-size: 15px;
        color: #2185ef;
        font-weight: 100;
    }
    .btn-group {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 200px;
    }
    .ipad-filter-div-shift {
        position: relative;
        left: 25px;
    }
    .studio-card-tablet {
        height: 352px;
    }
    .studio-caption-tablet {
        margin-top: 22px;
    }
    .reset-link-before-change {
        position: absolute;
        margin: 20px 30px;
        right: 8px;
        color: #2185ef;
        font-size: 10px;
    }
    #amount {
        position: relative;
        top: 1px;
    }
    #amount2 {
        position: relative;
        left: 0;
        top: 2px;
        margin: 0;
    }   
    #amount2-span {
        position: relative;
        top: 13px;
        left: -7px;
    }
    h5 {
    font-size: 9px;
    font-weight: 500;
    }
}
/*Handle the Mobile View*/

@media only screen and (max-width: 425px) {
    #filter-link {
        position: static;
        margin: 0px;
        color: gray;
        font-size: 20px;
        font-weight: 100;
    }
    .panel-title {
        text-align: center;
    }
    p.location {
        font-size: 18px;
        color: #946460;
        margin-bottom: 0px;
        font-weight: 300;
    }
    p.lead {
        font-size: 20px;
        color: #634e42;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
    }
    p.price {
        color: #A2A2A2;
        font-size: 14px;
        font-family: "Raleway", sans-serif;
        font-weight: 100;
    }
    bdi.price-number {
        font-size: 20px;
        color: #2185ef;
        font-weight: 100;
    }
    #title-filter {
        position: relative;
        right: 155px;
    }
    div.studio-card-tablet {
        height: 504px;
    }
    #close-btn {
        position: relative;
        bottom: 42px;
        right: 12px;
    }
    #filter-link {
        color: #60300b;
        font-weight: normal;
    }
    .btn.btn-primary.black {
        color: #020202;
        background-color: inherit;
        border-color: #ccc;
    }
    div.ipad-filter-div-shift {
        position: relative;
        left: 0px;
    }
    .btn.btn-secondary {
        background-color: #efefef;
        width: 130px;
        height: 60px;
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        font-weight: 100;
        text-transform: capitalize;
        color: rgba(72, 37, 3, 0.99);
    }
    #amount {
        position: relative;
        top: 1px;
    }
    #amount2 {
        position: relative;
        left: 308px;
        top: -26px;
        margin: 0;
    }   
    #amount2-span {
        position: relative;
        top: -16px;
        left: 298px;
    }
    h5 {
        font-size: 9px;
        font-weight: 500;
    }

    .fa-comments:before {
        content: "\f086";
        color: white;
        font-size: 30px;
    }
    a.btn.chat{
        background-color: #602c0e;
        position: absolute;
        left: 265px;
        bottom: 60px;
        width: 60px;
        height: 50px;
        border: 0;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 2px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }
}
/*End of Mobile Media Query*/

/*Small Screen mobile */
@media only screen and (max-width: 320px){
    a.btn.chat{
        background-color: #602c0e;
        position: absolute;
        left: 220px;
        bottom: 60px;
        width: 50px;
        height: 40px;
        border: 0;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 2px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }
}
